<!DOCTYPE html>
<html>
    <head>
        <title>{{ p.Name }} /r/nfl draft card</title>
				<link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body class="pick-seahawks best-value">
        <div id="front" class="card">
					<div class="logo">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 78 67" style="enable-background:new 0 0 78 67;" xml:space="preserve">
							<g>
								<polygon class="st0" points="19.1,59 10.4,38 9.5,38.2 9.7,49.7 12.4,52.7 12.3,57.5 0,54.3 0,50.3 3.7,48.9 3.5,26.6 0.1,25.2 0,19.7 9.5,19.5 18.4,43.4 19.2,43.2 19.1,26.8 16,24.7 16.2,19.7 27.9,19.7 27.9,25.1 25.8,26.6 25.3,60.9 	"/>
								<polygon class="st0" points="31.5,62.5 31.4,58.3 34.5,56.8 34.1,27.2 31,24.9 31.1,19.9 53.1,19.9 53,30.4 48.7,30.5 46.8,26.1 40.9,25.9 40.9,36 45.5,35.8 47.4,33.1 50.4,33.3 50.3,44.4 47.4,44.5 45.8,42.1 40.8,41.7 40.8,59 43.7,62.4 43.6,67 	"/>
								<polygon class="st0" points="56.3,55.6 58.8,52.8 58.6,26.7 56.1,25 56.3,19.8 68.8,19.7 68.9,24.8 66.3,26.7 66,51 72.5,48.9 73.2,40.5 77.8,40.5 78,54 56.5,60.2 	"/>
								<path class="st0" d="M12,4.6c0,2.3-1,3.8-3,4.4l3.7,5.1h-3L6.2,9.4H5.6H3.1v4.7H0.8V0H6c2.1,0,3.7,0.4,4.6,1.1C11.5,1.8,12,3,12,4.6z M9.5,4.6c0-0.9-0.2-1.6-0.7-1.9C8.3,2.3,7.4,2.2,6.1,2.2h-3v5h2.9c1.3,0,2.2-0.2,2.7-0.6C9.3,6.2,9.5,5.5,9.5,4.6z"/>
								<path class="st0" d="M25.9,0v2.2h-7.5V6h6.7v2.1h-6.7v3.8h7.7v2.2H16.1V0H25.9z"/>
								<path class="st0" d="M42.4,7c0,2.2-0.7,3.9-2,5.1c-1.3,1.3-3.3,1.9-6,1.9h-4.6V0h4.8c2.5,0,4.4,0.6,5.8,1.8C41.7,3.1,42.4,4.8,42.4,7z M40,7c0-3.2-1.8-4.8-5.5-4.8h-2.4v9.7h2.6c1.7,0,3-0.4,3.9-1.2C39.5,9.8,40,8.6,40,7z"/>
								<path class="st0" d="M58.2,7c0,2.2-0.7,3.9-2,5.1c-1.3,1.3-3.3,1.9-6,1.9h-4.6V0h4.8c2.5,0,4.4,0.6,5.8,1.8C57.5,3.1,58.2,4.8,58.2,7z M55.8,7c0-3.2-1.8-4.8-5.5-4.8h-2.4v9.7h2.6c1.7,0,3-0.4,3.9-1.2C55.4,9.8,55.8,8.6,55.8,7z"/>
								<path class="st0" d="M61.4,0h2.4v14.1h-2.4V0z"/>
								<path class="st0" d="M73.7,2.2v11.9h-2.4V2.2h-4.2V0h10.9v2.2H73.7z"/>
							</g>
						</svg>
					</div>
					<div class="content masked">
						<div class="background-image"></div>
						<div class="name-ctn">
							<h1 class="name">
								<span id="js-first-name" class="first-name" data-name="Stevie">Stevie</span>
								<span id="js-last-name" class="last-name" data-name="Tu'ikolovatu">Tu'ikolovatu</span>
							</h1>
						</div>
						<div class="pick-number">#228</div>
						<div class="team-logo"></div>
					</div>
					<div class="misprint-text"><img src="images/misprint.png"/></div>
        </div>
        <div id="back" class="card">
					<div class="content">
						<div class="top-content">
							<h3 class="special">EXCLUSIVE</h3>
							<h3 class="irrelevant">MR IRRELEVANT</h3>
							<h3 class="value">BEST VALUE</h3>
							<h2 class="pick">Selected 8<sup>th</sup> Overall</h2>
							<h1 class="back-name">
								<span id="js-back-first-name" class="line-name">Stevie</span>
								<span id="js-back-last-name" class="line-name">Tu'ikolovatu</span>
							</h1>
							<h2 class="position">Running Back - Sanford</h2>
						</div>
						<div class="bottom-content">
							<h2 class="stat-header">College Stats</h2>
							<div class="stat-group">
								<span class="big">24</span>
								<span class="small">Touchdowns</span>
							</div>
							<div class="stat-group">
								<span class="big">3.9k</span>
								<span class="small">All Purpose Yards</span>
							</div>
						</div>
					</div>
					<div class="misprint-text"><img src="images/misprint2.png"/></div>
        </div>
				<script src="app.js"></script>
    </body>
</html>



<svg>
	<clipPath id="mask">
		<polygon class="st0" points="0,0 0,716 537,716 537,0 320.7,0 320.7,49.3 269.2,67 216.3,49.3 216.3,0 "/>
	</clipPath>
</svg>
