appdirs==1.4.3
beautifulsoup4==4.5.3
Django==1.11
django-htmlmin==0.10.0
google-api-python-client==1.6.2
html5lib==0.999999999
httplib2==0.10.3
imgurpython==1.1.7
Jinja2==2.9.6
MarkupSafe==1.0
oauth2client==4.0.0
packaging==16.8
praw==4.4.0
prawcore==0.8.0
pyasn1==0.2.3
pyasn1-modules==0.0.8
pytz==2017.2
requests==2.13.0
rsa==3.4.2
selenium==3.4.0
six==1.10.0
update-checker==0.16
uritemplate==3.0.0
webencodings==0.5.1
xvfbwrapper==0.2.9
