{% load static %}
{% load draftcard_extras %}
<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="https://use.typekit.net/ikq5fbd.css"/>
    <link rel="stylesheet" href="{% static "draftcardposter/draft-2018/styles.css" %}">
    <title>/r/nfl 2018 Draft Card - {{ firstname }} {{ lastname }}</title>
    <style>
.logo {
  position: absolute;
  top: 14px;
  left: 14px;
  z-index: 3;
  height: 80px;
  width: 80px;
  background-image: url("{% static "draftcardposter/draft-2018/logos-160x160.png" %}");
  background-repeat: no-repeat;
  background-size: 80px; }
    </style>
  </head>
  <body class="{{ team|teamcssclass }} JS-card-contain" data-overall="{{ overall }}">
    <div class="draft-card-contain">
      <div class="photo">
        <div class="photo-contain JS-player-image" style="background-image: url({% static photo %});"></div>
        <div class="name-contain JS-name-contain">
          <div class="first JS-text-bound" style="font-size: 92px; line-height: 86px; letter-spacing: .08em;">{{ firstname }}</div><br />
          <div class="last JS-text-bound" style="font-size: 92px; line-height: 86px; letter-spacing: .08em;">{{ lastname }}</div>
        </div>
        <div class="credit">r/NFL</div>
        <div class="logo"></div>
      </div>
      <div class="basic-info">
          <div class="line"><span class="player_position left">{{ position }} &mdash; {{ college }}</span><span class="draft_position right">Round {{ round }}, pick {{ pick }}</span></div>
          <div class="line"><span class="player_size left">{% if stats.height_in %}{{ stats.height_in|formatvalue:'height_in' }} — {{ stats.weight_lbs|formatvalue:'weight_lbs' }}{% endif %}</span><span class="draft_team right">{{ team.fullname }}</span></div>
        <div class="stats">
          <div class="stats-contain">

            {% if p and p.data %}
            {% for type_, stat, value in p.data|order_stats:priorities|remove_non_stats:priorities|deduplicate:"combine,proday,None"|slice:"0:6" %}
            <div class="stat">
              <div class="header">
                {{ stat|statname:value }}{% if type_ %} - {{ type_ }}{% endif %}
              </div>
              <div class="number">
                {{ value|formatvalue:stat }}
              </div>
            </div>
            {% endfor %}
            {% endif %}

          </div>
        </div>
      </div>
      <div class="random-fact">
        <div class="left">#factoid</div>
        <div class="right" id="factoid"></div>
      </div>
    </div>
    <script src="{% static "draftcardposter/draft-2018/app.js" %}"></script>
    <script src="{% static "draftcardposter/draft-2018/factoid.js" %}"></script>
  </body>
</html>
