{% extends "draftcardposter/base.html" %}
{% block title %}Draft card postinator - preview{% endblock %}

{% block content %}
<h1>/r/NFL Draft card postinator</h1>
<p class="lead">Look closely before you hit that post button!</p>
{% if msg %}
<div class="alert alert-success" role="alert">{{ msg }}</div>
{% endif %}
<hr />
Title: {{ title }}
<form action="{% url 'submit-pick' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="title" value="{{ title }}" />
    <input type="hidden" name="imageurl" value="{{ imageurl }}" />
    <button type="submit">Submit!</button>
</form>
<hr />
<img class="img-fluid img-thumbnail" src="{{ imageurl }}" />
<hr />
{% endblock %}
